{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ 'Tasks.List.Title'|trans }}</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'Payments.List.User'|trans }}</th>
            <th>{{ 'Payments.List.SumToPay'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
                <td><a href="{{ path('payment.toPay.tasks', {'user': item.user.id}) }}">{{ item.user.getUsername() }}</a></td>
                <td>{{ item.toPay }} грн.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}